.wrapper {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
  }

  .section { 
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0 0 5px #000;
  }

  .parallax::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
  }

  .static {
	background: black;
  }

  .img1::after {
	background-image: url('https://c8.alamy.com/compfr/2c9e83y/panneau-d-avertissement-vierge-raye-noir-et-jaune-cadre-rectangulaire-au-format-d-image-3-4-pour-votre-message-ou-votre-image-vecteur-eps8-variante-n-2-2c9e83y.jpg');
  }

  .img2::after {
	background-image: url('https://i.gifer.com/Rd7e.gif');
  }